body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-details h1 {
    margin-top: 20px;
    text-align: center;
}

.profile-details p {
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; 
    transition: top 0.3s; /* Animasi perubahan posisi navbar */
}
  
  .fixed-top.hide {
    top: -100px; 
}
  
footer .container a{
    color:black
}

.navbar-nav {
    margin-left: 300px;
}
