/*************** 1. Sass Variables ***************/
/*************** 2.Mixins ***************/
/************************************************
	************************************************
										Body CSS							
	************************************************
************************************************/
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  color: #2e323c;
  background: #f5f6fa;
}
body.boxed {
  margin: 0 auto;
  max-width: 1200px;
  background: #000000;
}
body.boxed .app-container {
  max-width: 1200px;
}
body.boxed .app-header {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
  left: inherit;
  right: inherit;
}
body.boxed .main-footer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  left: inherit;
  right: inherit;
}
body.login-bg {
  background: url("../img/login-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
body.error-bg {
  background: url("../img/login-slider.jpg") no-repeat;
  background-size: cover;
  background-position: center center fixed;
}

/************************************************
	************************************************
										Common CSS							
	************************************************
************************************************/
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #e1e5f1;
}

/************************************************
	************************************************
											Reusable CSS							
	************************************************
************************************************/
/*************** Card Fixed Heights ***************/
.card333 {
  height: 332px;
}

.card160 {
  height: 159px;
}

/*************** Spacers ***************/
.spacer10 {
  height: 10px;
}

.spacer20 {
  height: 20px;
}

.spacer30 {
  height: 30px;
}

.spacer50 {
  height: 50px;
}

.spacer60 {
  height: 60px;
}

.spacer70 {
  height: 70px;
}

/************* Background Colors **************/
.bg-primary {
  background-color: #001ae1 !important;
}

.bg-secondary {
  background-color: #ff3e7e !important;
}

.bg-success {
  background-color: #06a219 !important;
}

.bg-light-green {
  background-color: #dbf1d8 !important;
}

.bg-info {
  background-color: #0e22bc !important;
}

.bg-light-blue {
  background-color: #e1e5fe !important;
}

.bg-warning {
  background-color: #ffb012 !important;
}

.bg-light-yellow {
  background-color: #fdebd1 !important;
}

.bg-danger {
  background-color: #ff3434 !important;
}

.bg-light-red {
  background-color: #fde8e8 !important;
}

.bg-pink {
  background-color: #f782aa !important;
}

.bg-light-pink {
  background-color: #ffeaf7 !important;
}

.bg-purple {
  background-color: #4152bc !important;
}

.bg-orange {
  background-color: #ff9f41 !important;
}

.bg-brown {
  background-color: #ab7967 !important;
}

.bg-light-brown {
  background-color: #e7e0e1 !important;
}

.bg-light {
  background-color: #f0f8ff !important;
}

.bg-dark {
  background-color: #3c3c3c !important;
}

/************* Text Colors **************/
.text-primary {
  color: #001ae1 !important;
}

.text-secondary {
  color: #ff3e7e !important;
}

.text-success {
  color: #06a219 !important;
}

.text-info {
  color: #0e22bc !important;
}

.text-warning {
  color: #ffb012 !important;
}

.text-danger {
  color: #ff3434 !important;
}

.text-pink {
  color: #f782aa !important;
}

.text-light {
  color: #e1e5fe !important;
}

.text-dark {
  color: #000000 !important;
}

.text-muted {
  color: #aab3c3 !important;
}

/************* Overflows Scrolls **************/
.overflow-scroll {
  overflow: auto;
}

/************* Char Count **************/
.charCount {
  font-size: 0.7rem;
}

/************* Image Sizes **************/
.img-30 {
  width: 30px;
  height: 30px;
}

/************************************************
	************************************************
										Layout CSS							
	************************************************
************************************************/
.app {
  min-height: 100%;
}

.app-wrap {
  min-height: 100vh;
  position: relative;
}

.app-header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 140px;
  right: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid #e8ebf4;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.app-header.primary {
  background: #001ae1;
  border-bottom: 1px solid #001ae1;
}
.app-header.primary a.mini-nav-btn {
  border-right: 1px solid #0017c8;
}
.app-header.primary a.mini-nav-btn i {
  color: #ffffff;
}
.app-header.primary .header-actions > li {
  border-left: 1px solid #0017c8;
}
.app-header.primary .header-actions > li > a i {
  color: #ffffff;
}
.app-header.primary .header-actions > li > a.user-settings span.user-name {
  color: #ffffff;
}
.app-header.primary .header-actions > li:first-child {
  border-left: 0;
}
.app-header.primary a.onoffcanvas-toggler {
  border-right: 1px solid #0017c8;
}
.app-header.primary a.onoffcanvas-toggler i {
  color: #ffffff;
}

.app-container {
  position: relative;
  background: #f5f6fa;
  padding-top: 55px;
  padding-bottom: 20px;
}

.app-main {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: 140px;
}
.app-main.left-toggle {
  margin-left: 0;
}
.app-main.left-toggle .app-header {
  left: 0;
}

.main-heading {
  padding: 0.7rem 0.5rem;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 10px 20px -10px #dde1ee;
  -moz-box-shadow: 0 10px 20px -10px #dde1ee;
  box-shadow: 0 10px 20px -10px #dde1ee;
  z-index: 10;
}
.main-heading .page-icon {
  float: left;
  border-right: 1px solid #e1e5f1;
  padding-right: 10px;
}
.main-heading .page-icon i {
  font-size: 24px;
  color: #001ae1;
  margin: 9px 6px 9px 0;
  display: block;
}
.main-heading .page-title {
  margin-left: 60px;
}
.main-heading .page-title h5 {
  margin: 0;
  padding: 0;
  line-height: 120%;
}
.main-heading .page-title h6.sub-heading {
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 0.8rem;
  color: #aab3c3;
}
.main-heading .right-actions {
  margin-top: 2px;
}
.main-heading .right-actions .search-block {
  margin: 0;
}

/*************** Date Range ***************/
.date-range .form-control {
  max-width: 170px;
  float: left;
  margin-right: 1px;
}

.main-content {
  position: relative;
  margin-bottom: auto;
  padding: 1.5rem;
  min-height: 1350px;
  background: #f5f6fa;
}

.main-footer {
  background: #ffffff;
  padding: 0.7rem 1rem;
  border-top: 1px solid #e1e5f1;
  font-size: 0.65rem;
  color: #aab3c3;
}
.main-footer.fixed-btm {
  z-index: 1002;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}
.main-footer.no-bdr {
  border: 0;
}

.app-side {
  margin: 0;
  width: 140px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  background: #ffffff;
  -webkit-box-shadow: 20px 0 20px -20px #d3d7e9;
  -moz-box-shadow: 20px 0 20px -20px #d3d7e9;
  box-shadow: 20px 0 20px -20px #d3d7e9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.app-side.fixed {
  position: fixed;
}
.app-side.left-toggle {
  left: -140px;
}

@media (max-width: 1100px) {
  .app-side {
    left: 0;
  }
  .app-side.is-open {
    left: -140px;
  }
}
@media (max-width: 992px) {
  .app-side {
    left: -140px;
  }
  .app-side.is-open {
    left: 0;
  }
}
.side-content {
  margin-bottom: auto;
}
.side-content .user-profile {
  padding: 10px 0;
  text-align: center;
  background: #f5f6fa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.side-content .user-profile img.profile-thumb {
  width: 72px;
  height: 72px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px #c2c8e1;
  margin: 0 auto;
}
.side-content .user-profile h6.profile-name {
  margin: 15px 0 0 0;
  font-size: 0.9rem;
}
.side-content ul.profile-actions {
  display: block;
}
.side-content ul.profile-actions > li {
  text-align: center;
  margin: auto;
  display: inline-block;
}
.side-content ul.profile-actions > li a {
  font-size: 0.65rem;
  text-align: center;
  display: block;
  width: 36px;
  color: #aab3c3;
  position: relative;
  padding: 8px 0;
  margin: auto;
}
.side-content ul.profile-actions > li a i {
  font-size: 18px;
  margin: auto;
  vertical-align: middle;
}
.side-content ul.profile-actions > li a .count-label {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid #001ae1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.side-content ul.profile-actions > li a .count-label.red {
  border: 2px solid #ff3e7e;
}
.side-content ul.profile-actions > li a .count-label.green {
  border: 2px solid #06a219;
}
.side-content ul.profile-actions > li a .count-label.yellow {
  border: 2px solid #ffb012;
}
.side-content ul.profile-actions > li a:hover {
  color: #001ae1;
}
.side-content ul.profile-actions > li:last-child {
  border-right: 0;
}
.side-content ul.profile-actions > li:first-child {
  border-left: 0;
}
.side-content ul.profile-actions > li:first-child a {
  color: #001ae1;
}

.side-nav .unifyMenu {
  padding: 1rem 0;
}
.side-nav .unifyMenu > li {
  position: relative;
  background: #ffffff;
}
.side-nav .unifyMenu > li.selected:after {
  position: absolute;
  content: "";
  right: -1px;
  top: 21px;
  border-right: 11px solid #e4e7f2;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  z-index: 2020;
}
.side-nav .unifyMenu > li.selected > a {
  color: #ffffff;
  background: #001ae1;
}
.side-nav .unifyMenu > li.selected .current-page {
  color: #001ae1;
  pointer-events: none;
}
.side-nav .unifyMenu a {
  position: relative;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #ffffff;
  color: #4d4d4d;
  font-size: 0.8rem;
  padding: 10px 0;
}
.side-nav .unifyMenu a:active, .side-nav .unifyMenu a:focus, .side-nav .unifyMenu a:hover {
  color: #001ae1;
  background: #f5f6fa;
}
.side-nav .unifyMenu ul {
  background: #ffffff;
}
.side-nav .unifyMenu ul a {
  padding: 0.5em;
}
.side-nav .collapse {
  display: none;
}
.side-nav .collapse.in {
  display: block;
}
.side-nav .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
.side-nav .arrow {
  float: right;
  line-height: 1.42857;
}
.side-nav .has-arrow {
  position: relative;
}
.side-nav .has-arrow::after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 50px;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 22px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.side-nav .active > .has-arrow::after,
.side-nav .has-arrow[aria-expanded=true]::after {
  -webkit-transform: rotate(225deg) translate(0, -50%);
  -ms-transform: rotate(225deg) translate(0, -50%);
  -o-transform: rotate(225deg) translate(0, -50%);
  transform: rotate(225deg) translate(0, -50%);
  margin-top: 0;
}

@media (max-width: 1100px) {
  .app-main {
    margin-left: 0;
  }
  .app-header {
    left: 0;
  }
  .side-nav .unifyMenu > li.selected:after {
    border-right: 0;
  }
}
.has-icon {
  font-size: 1.5em;
  display: block;
}

.onoffcanvas {
  visibility: hidden;
}
.onoffcanvas.is-open {
  visibility: visible;
}

/*************** Sidebar Dark ***************/
.sidebar-dark {
  background: #2e3841;
  color: #ffffff;
}
.sidebar-dark .side-content .user-profile {
  background: #232b32;
}
.sidebar-dark .side-nav .unifyMenu > li {
  background: #2e3841;
}
.sidebar-dark .side-nav .unifyMenu a {
  background: #2e3841;
  color: #aab3c3;
}
.sidebar-dark .side-nav .unifyMenu a:hover {
  background: #2a333b;
}

/************************************************
	************************************************
											Main CSS							
	************************************************
************************************************/
/*************** Logo ***************/
.logo {
  display: block;
  margin: 0 auto 0px auto;
  text-align: center;
}
.logo img {
  max-height: 60px;
  margin: 30px auto;
}

/*************** Header Actions ***************/
.header-actions {
  float: right;
}
.header-actions > li {
  float: left;
  border-left: 1px solid #e1e5f1;
}
.header-actions > li > a {
  padding: 16px 20px;
  display: block;
  position: relative;
}
.header-actions > li > a > i {
  font-size: 21px;
  vertical-align: middle;
  color: #aab3c3;
}
.header-actions > li > a .count-label {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 8px;
  border: 2px solid #001ae1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header-actions > li > a .count-label.red {
  border: 2px solid #ff3e7e;
}
.header-actions > li > a .count-label.green {
  border: 2px solid #06a219;
}
.header-actions > li > a .count-label.yellow {
  border: 2px solid #ffb012;
}
.header-actions > li > a.user-settings {
  padding: 7px 0 7px 18px;
}
.header-actions > li > a.user-settings img.avatar {
  max-width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header-actions > li > a.user-settings span.user-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
  font-size: 0.8rem;
  margin-left: 5px;
  vertical-align: middle;
}
.header-actions > li > a:hover i {
  color: #001ae1;
}
.header-actions > li .dropdown-menu {
  margin-top: 0;
}
.header-actions > li:first-child {
  border-left: 0;
}

@media (max-width: 767px) {
  .header-actions > li {
    display: none;
  }
  .header-actions > li:last-child {
    display: block;
    border-left: 0;
  }
  .header-actions > li:last-child span.user-name {
    display: none;
  }
}
.logout-btn {
  margin: 10px 10px 0 10px;
}
.logout-btn .btn {
  display: block;
  width: 100%;
}

ul.imp-notify li {
  padding: 10px 15px;
}
ul.imp-notify li .icon {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #001ae1;
  color: #ffffff;
}
ul.imp-notify li .icon.secondary {
  background: #ff3e7e;
}
ul.imp-notify li .details {
  font-size: 0.85rem;
  display: block;
  margin-left: 55px;
}
ul.imp-notify li .details p {
  margin: 0;
  line-height: 160%;
  color: #aab3c3;
}
ul.imp-notify li .details p span {
  display: block;
  margin-bottom: 5px;
  color: #2e323c;
}

ul.stats-widget {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.stats-widget li {
  padding: 10px 15px;
  border-bottom: 1px solid #e1e5f1;
}
ul.stats-widget li h4 {
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0;
}
ul.stats-widget li p {
  color: #aab3c3;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 0.75rem;
  line-height: 100%;
}
ul.stats-widget li p span {
  float: right;
}
ul.stats-widget li .progress {
  margin-bottom: 10px;
  height: 4px;
}
ul.stats-widget li:last-child {
  border-bottom: 0 solid #e1e5f1;
  padding-bottom: 0;
}
ul.stats-widget li:first-child {
  padding-top: 0;
}

/*************** User Settings ***************/
ul.user-settings-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: 15px 0;
}
ul.user-settings-list > li {
  border-right: 1px solid #e1e5f1;
  width: 33.33%;
}
ul.user-settings-list > li a {
  font-size: 13px;
  text-align: center;
  display: block;
}
ul.user-settings-list > li a .icon {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto 5px auto;
  border: 2px solid #001ae1;
}
ul.user-settings-list > li a .icon i {
  font-size: 18px;
  margin: 7px;
  display: block;
  color: #aab3c3;
}
ul.user-settings-list > li a .icon.red {
  border: 2px solid #ff3e7e;
}
ul.user-settings-list > li a .icon.green {
  border: 2px solid #06a219;
}
ul.user-settings-list > li a .icon.yellow {
  border: 2px solid #ffb012;
}
ul.user-settings-list > li a p {
  margin: 0;
}
ul.user-settings-list > li a:hover {
  color: #001ae1;
}
ul.user-settings-list > li:last-child {
  border-right: 0;
}

/*************** Toggle Mini Nav ***************/
a.mini-nav-btn {
  padding: 15px 15px 15px 9px;
  display: inline-block;
  border-right: 1px solid #e1e5f1;
}
a.mini-nav-btn i {
  font-size: 24px;
  vertical-align: middle;
  color: #001ae1;
}

@media (max-width: 1100px) {
  a.mini-nav-btn {
    display: none;
  }
}
/*************** Toggle Sidebar ***************/
a.onoffcanvas-toggler {
  padding: 15px 20px 15px 5px;
  display: inline-block;
  border-right: 1px solid #e1e5f1;
  display: none;
}
a.onoffcanvas-toggler i {
  font-size: 24px;
  vertical-align: middle;
  color: #001ae1;
}

@media (max-width: 1100px) {
  a.onoffcanvas-toggler {
    display: inline-block;
  }
}
/************************************************
	************************************************
											Widgets										
	************************************************
************************************************/
/*************** Stats Widget ***************/
.stats-widget a.stats-label {
  position: absolute;
  right: 0;
  top: 15px;
  background: #001ae1;
  text-align: center;
  font-size: 0.65rem;
  color: #ffffff;
  padding: 2px 6px;
  line-height: 100%;
}
.stats-widget a.stats-label:before {
  position: absolute;
  left: -20px;
  bottom: 0;
  content: "";
  border-right: 9px solid #001ae1;
  border-left: 11px solid transparent;
  border-top: 11px solid transparent;
}
.stats-widget a.stats-label:after {
  position: absolute;
  top: 0;
  left: -20px;
  content: "";
  border-right: 9px solid #001ae1;
  border-left: 11px solid transparent;
  border-bottom: 11px solid transparent;
}
.stats-widget .stats-widget-header {
  margin-bottom: 10px;
}
.stats-widget .stats-widget-header i {
  font-size: 36px;
  color: #001ae1;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.stats-widget .stats-widget-body ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.stats-widget .stats-widget-body ul > li {
  border-right: 1px solid #e1e5f1;
}
.stats-widget .stats-widget-body ul > li:last-child {
  border-right: 0;
}
.stats-widget .stats-widget-body h6.title {
  margin: 5px 0 0 0;
  font-size: 95%;
  line-height: 130%;
  color: #aab3c3;
}
.stats-widget .stats-widget-body h4.total {
  margin: 0;
  text-align: right;
  color: #001ae1;
}

@media (max-width: 576px) {
  .stats-widget .stats-widget-body h6.title {
    margin: 5px 0 0 0;
  }
}
/*************** Stats Graph Widget ***************/
.stats-graph-widget {
  position: relative;
}
.stats-graph-widget h4 {
  margin: 0 0 2rem 0;
  text-align: right;
}
.stats-graph-widget h6 {
  margin: 0 0 2rem 0;
  color: #aab3c3;
}
.stats-graph-widget .stats-graph {
  margin: 10px 0 0 0;
}
.stats-graph-widget p.growth {
  font-size: 0.75rem;
  padding: 0;
  text-align: right;
  margin: 5px 0 0 0;
}
.stats-graph-widget p.growth i {
  vertical-align: middle;
  margin-left: 2px;
  font-size: 18px;
}
.stats-graph-widget p.growth i.up {
  color: #06a219;
}
.stats-graph-widget p.growth i.down {
  color: #ff3434;
}

/*************** Stats Graph Widget ***************/
ul.social-stats li {
  margin-bottom: 18px;
}
ul.social-stats li .month-type {
  float: left;
  width: 90px;
  height: 75px;
}
ul.social-stats li .month-type .circliful {
  margin-top: -15px;
}
ul.social-stats li .social-info {
  margin-left: 90px;
}
ul.social-stats li .social-info h4 {
  margin: 0;
  padding: 8px 0 0 0;
}
ul.social-stats li .social-info h4 i {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 5px;
}
ul.social-stats li p {
  color: #aab3c3;
  margin: 0;
}
ul.social-stats li:last-child {
  margin-bottom: 0;
}

/*************** Sales Widget ***************/
.sales-widget {
  position: relative;
}
.sales-widget .sales-graph {
  height: 80px;
}
.sales-widget h6.title {
  margin: 0;
  font-size: 0.9rem;
  color: #aab3c3;
}
.sales-widget h4.total {
  margin: 3px 0;
}

/*************** Graph Notifi Info ***************/
.notifi {
  position: absolute;
}
.notifi.tr {
  top: 1rem;
  right: 1rem;
}
.notifi.tl {
  top: 1rem;
  left: 1rem;
}
.notifi.bl {
  bottom: 1rem;
  left: 1rem;
}
.notifi.br {
  bottom: 1rem;
  right: 1rem;
}
.notifi a {
  display: inline-block;
}
.notifi a i {
  font-size: 30px;
}

/*************** Monthly Average Widget ***************/
.monthly-avg {
  background: #ffffff;
  box-shadow: 0 0 20px #e4e7f2;
  padding: 1rem 0.3rem;
  text-align: center;
}
.monthly-avg h6 {
  font-size: 95%;
  margin: 15px 20px 35px 20px;
  line-height: 150%;
}
.monthly-avg .avg-block {
  margin-bottom: 35px;
}
.monthly-avg .avg-block h4.avg-total {
  margin: 0;
}
.monthly-avg .avg-block h6.avg-label {
  margin: auto;
  color: #aab3c3;
}
.monthly-avg .avg-block:last-child {
  margin-bottom: 0;
}
.monthly-avg.plain {
  box-shadow: none;
  border: 1px solid #e4e7f2;
}

@media (max-width: 767px) {
  .monthly-avg {
    margin: 30px 0;
  }
}
.download-details p {
  text-align: center;
  margin: 0;
  color: #aab3c3;
}

/*************** Income Widget ***************/
.income-stats {
  padding: 1rem 0 1rem 1rem;
}
.income-stats h4.total {
  margin: 0;
}
.income-stats p.income-title {
  margin: 5px 0 0 0;
  color: #aab3c3;
}
.income-stats p.income-title span.income-label {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border: 2px solid #001ae1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
}
.income-stats p.income-title span.income-label.secondary {
  border: 2px solid #ff3e7e;
}

/*************** Events Widget ***************/
.events .all-events {
  padding: 10px 15px;
  background: #f5f6fa;
  margin-bottom: 15px;
}
.events .all-events #today-date {
  display: inline-block;
  font-size: 0.85rem;
  margin: 5px 0 0 0;
  vertical-align: middle;
}
.events .all-events .btn {
  float: right;
  margin-left: 10px;
  padding: 0.25rem 1rem;
  background: #001ae1;
  color: #ffffff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.events .event-list {
  padding: 0 1rem;
}
.events .event-list li {
  padding: 0.5rem 0;
  margin-bottom: 5px;
}
.events .event-list li a .event-status-icon {
  float: left;
  margin: 7px 0;
}
.events .event-list li a .event-status-icon img {
  max-width: 30px;
  max-height: 30px;
}
.events .event-list li a .event-info {
  margin-left: 48px;
}
.events .event-list li a .event-info .event-time {
  font-size: 1rem;
  color: #001ae1;
}
.events .event-list li a .event-info .event-desc {
  margin: 3px 0 0 0;
}

/*************** Project activity widget ***************/
ul.project-activity {
  margin-left: 20px;
  padding: 30px 0 20px 0;
  border-left: 1px solid #ebeef6;
}
ul.project-activity li.activity-list {
  position: relative;
}
ul.project-activity li.activity-list .lbl {
  background-color: #001ae1;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  content: "";
  height: 31px;
  width: 31px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: -16px;
}
ul.project-activity li.activity-list .lbl.secondary {
  background-color: #ff3e7e;
}
ul.project-activity li.activity-list:last-child .detail-info {
  padding-bottom: 0;
}
ul.project-activity li.activity-list .detail-info {
  line-height: 100%;
  margin: 0 0 0 30px;
  padding-bottom: 25px;
}
ul.project-activity li.activity-list .detail-info p.desc-info {
  margin: 0 0 5px 0;
  line-height: 150%;
}
ul.project-activity li.activity-list .detail-info p.desc-info span {
  color: #aab3c3;
}
ul.project-activity li.activity-list .detail-info a.activity-status {
  color: #aab3c3;
  font-size: 0.75rem;
}
ul.project-activity li.activity-list .detail-info a.activity-status i {
  font-size: 13px;
  vertical-align: middle;
  margin-right: 5px;
  color: #06a219;
}

ul.team-activity {
  margin-bottom: 5px;
}
ul.team-activity li.product-list {
  border-bottom: 1px dotted #e1e5f1;
}
ul.team-activity li.product-list .product-time {
  border-right: 1px solid #e1e5f1;
  float: left;
}
ul.team-activity li.product-list .product-time .badge {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  min-width: 90px;
  text-align: left;
  font-size: 0.75rem;
  margin: 0 -1px 17px 0;
}
ul.team-activity li.product-list .product-time p.date {
  color: #aab3c3;
  font-size: 0.75rem;
  margin: 15px 0 5px 0;
}
ul.team-activity li.product-list .product-info {
  padding: 15px 0 16px 0;
  margin-left: 105px;
}
ul.team-activity li.product-list .product-info h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.team-activity li.product-list .product-info p {
  margin: 4px 0 0 0;
  padding: 0;
  color: #aab3c3;
  line-height: 160%;
  font-size: 0.75rem;
}
ul.team-activity li.product-list .product-info .progress {
  margin: 10px 0 5px 0;
}
ul.team-activity li.product-list:last-child {
  border-bottom: 0;
}

/*************** Orders Widget ***************/
ul.order-list li {
  padding: 0.8rem 0;
}
ul.order-list li .order-num {
  margin: 0 0 7px 0;
  color: #001ae1;
  border-left: 3px solid #001ae1;
  padding-left: 10px;
}
ul.order-list li .order-num.placed {
  color: #06a219;
  border-left: 3px solid #06a219;
}
ul.order-list li .order-num.cancelled {
  color: #ff3434;
  border-left: 3px solid #ff3434;
}
ul.order-list li .order-desc {
  margin: 0 0 0 15px;
}
ul.order-list li .order-desc span {
  text-decoration: underline;
}
ul.order-list li .order-date {
  color: #aab3c3;
  float: right;
  margin-top: 2px;
  font-size: 0.8rem;
}
ul.order-list li:first-child {
  padding-top: 0;
}
ul.order-list li:last-child {
  padding-bottom: 0;
}

/*************** Chat Widget ***************/
.chats {
  position: relative;
  padding: 0;
}
.chats li {
  margin-bottom: 25px;
}
.chats li.chats-left, .chats li.chats-right {
  position: relative;
}
.chats li img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.chats li .chats-avatar {
  float: left;
}
.chats li.chats-right > .chats-avatar {
  float: right;
}
.chats li .chats-name {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 5px;
  color: #aab3c3;
}
.chats li .chats-hour {
  margin-left: 70px;
  padding: 2px;
  margin-bottom: 20px;
  font-size: 0.65rem;
}
.chats li .chats-hour > span {
  font-size: 16px;
  color: #06a219;
}
.chats li .chats-text {
  margin-left: 70px;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f6fa;
  left: 15px;
  line-height: 160%;
}
.chats li .chats-text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: 50px;
  border: 10px solid;
  border-color: transparent #f5f6fa transparent transparent;
}
.chats li.chats-right > .chats-text {
  text-align: right;
  right: 16px;
  margin-right: 70px;
  background-color: #001ae1;
  color: #ffffff;
}
.chats li.chats-right > .chats-text:before {
  left: auto;
  right: 50px;
  border-color: transparent transparent transparent #001ae1;
}
.chats li.chats-right > .chats-hour {
  text-align: right;
  margin-right: 70px;
}

/*************** Graph Info Widget ***************/
.info-stats {
  text-align: center;
}
.info-stats p.info-title {
  margin: 6px 0;
  color: #aab3c3;
}
.info-stats h6.info-title {
  margin: 9px 0;
  color: #aab3c3;
  font-size: 0.85rem;
}
.info-stats h6.info-title.small {
  font-size: 0.75rem;
}
.info-stats h6.info-total {
  margin: 0;
}
.info-stats h5.info-total {
  margin: 0;
}
.info-stats h4.info-total {
  margin: 0;
  line-height: 145%;
}
.info-stats span.info-label {
  width: 8px;
  height: 8px;
  border: 2px solid #001ae1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
}
.info-stats span.info-label.red {
  border: 2px solid #ff3434;
}
.info-stats span.info-label.green {
  border: 2px solid #06a219;
}
.info-stats span.info-label.yellow {
  border: 2px solid #ffb012;
}

.info-stats2 {
  margin-top: 16px;
}
.info-stats2 h5 {
  margin: 0;
  line-height: 150%;
}
.info-stats2 h5 span {
  color: #aab3c3;
  font-size: 0.75rem;
}
.info-stats2 p {
  margin: 0;
  color: #aab3c3;
}

.info-stats3 {
  padding: 15px;
  background: #ffffff;
  border: 1px solid #e1e5f1;
  margin-bottom: 0.9rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
}
.info-stats3 .sale-num {
  margin: 0 0 0 55px;
}
.info-stats3 .sale-num h4 {
  margin: 0;
  line-height: 100%;
}
.info-stats3 .sale-num p {
  margin: 0;
  padding: 0;
  color: #aab3c3;
}
.info-stats3 .icon-type {
  height: 40px;
  width: 40px;
  float: left;
  position: relative;
  margin-right: 10px;
  text-align: center;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.info-stats3 .icon-type i {
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
.info-stats3.green .icon-type {
  background: #06a219;
  box-shadow: -4px 4px 0 #057b13;
}
.info-stats3.blue .icon-type {
  background: #001ae1;
  box-shadow: -4px 4px 0 #0015b8;
}
.info-stats3.yellow .icon-type {
  background: #ffb012;
  box-shadow: -4px 4px 0 #e89b00;
}
.info-stats3.red .icon-type {
  background: #ff3e7e;
  box-shadow: -4px 4px 0 #ff1563;
}

.info-stats4 {
  padding: 15px;
  background: #ffffff;
  border: 1px solid #e1e5f1;
  margin-bottom: 0.9rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
}
.info-stats4 .sale-num {
  margin: 0 0 0 55px;
}
.info-stats4 .sale-num h4 {
  margin: 0;
  line-height: 100%;
}
.info-stats4 .sale-num p {
  margin: 0;
  padding: 0;
  color: #aab3c3;
}
.info-stats4 .icon-type {
  height: 40px;
  width: 40px;
  float: left;
  position: relative;
  margin-right: 10px;
  text-align: center;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #001ae1;
  box-shadow: -4px 4px 0 #e4e7f2;
}
.info-stats4 .icon-type i {
  font-size: 21px;
  line-height: 38px;
  text-align: center;
  color: #001ae1;
}

/*************** Graphs Stats Widget ***************/
.graph-stats {
  text-align: center;
}
.graph-stats .graph {
  margin: 20px auto 5px auto;
}
.graph-stats h6.graph-title {
  color: #aab3c3;
  font-size: 14px;
  margin: 10px 0;
}

/*************** Compare Line ***************/
.vs {
  margin: auto;
  width: 0;
  text-align: center;
  position: relative;
}
.vs:before {
  position: absolute;
  background: #e1e5f1;
  width: 1px;
  height: 150px;
  content: "";
  top: 50%;
  left: 0;
  margin-top: -75px;
}
.vs:after {
  position: absolute;
  content: "vs";
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  background: #001ae1;
  top: 50%;
  left: 0;
  margin-left: -18px;
  margin-top: -18px;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 576px) {
  .vs {
    min-height: 90px;
  }
  .vs:before {
    height: 90px;
    margin-top: -45px;
  }
}
.or {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  position: relative;
  height: 1px;
  background: #e1e5f1;
}
.or:before {
  position: absolute;
  content: "or";
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #001ae1;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  line-height: 20px;
}

/*************** Toggle switch ***************/
.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #001ae1;
  overflow: hidden;
}
.toggle-switch .check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
  margin: 0;
}
.toggle-switch .check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #ff3e7e;
}
.toggle-switch .check:checked ~ .switch {
  right: 2px;
  left: 20px;
  transition: 0.35s cubic-bezier(0.7, 0.1, 0.15, 0.8);
  transition-property: left, right;
  transition-delay: 0.05s, 0s;
}
.toggle-switch .check:checked ~ .switch:after {
  position: absolute;
  content: "\e900";
  font-size: 0.75rem;
  color: #ff3434;
  font-family: "icomoon";
  line-height: 100%;
  top: 2px;
  left: 3px;
}
.toggle-switch .switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 20px;
  background-color: #ffffff;
  z-index: 1;
  transition: 0.35s cubic-bezier(0.7, 0.1, 0.15, 0.8);
  transition-property: left, right;
  transition-delay: 0s, 0.05s;
}
.toggle-switch .switch:after {
  position: absolute;
  content: "\e901";
  font-size: 0.75rem;
  color: #001ae1;
  font-family: "icomoon";
  line-height: 100%;
  top: 2px;
  left: 3px;
}
.toggle-switch .track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.35s cubic-bezier(0.7, 0.1, 0.15, 0.8);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
}
.toggle-switch.tr {
  position: absolute;
  top: 12px;
  right: 15px;
}
.toggle-switch.tr-xl {
  position: absolute;
  top: 16px;
  right: 15px;
}

/*************** Stocks Widget ***************/
ul.stocks li {
  margin-bottom: 15px;
}
ul.stocks li p {
  margin: 0;
}
ul.stocks li p span {
  float: right;
}
ul.stocks li p span i {
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
ul.stocks li p span small {
  margin-left: 10px;
}
ul.stocks li:last-child {
  margin-bottom: 0;
}

/*************** Messages Widget ***************/
.message-wrapper li {
  padding: 16px 0 17px 0;
  border-bottom: 1px dotted #e1e5f1;
}
.message-wrapper li img.avatar {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.message-wrapper li .empty-avatar {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  background: #001ae1;
}
.message-wrapper li .empty-avatar.green {
  background: #06a219;
}
.message-wrapper li .empty-avatar.red {
  background: #ff3434;
}
.message-wrapper li .empty-avatar.yellow {
  background: #ffb012;
}
.message-wrapper li .empty-avatar.blue {
  background: #001ae1;
}
.message-wrapper li.in img.avatar {
  float: left;
}
.message-wrapper li.in .empty-avatar {
  float: left;
}
.message-wrapper li.in .plain-avatar {
  float: left;
}
.message-wrapper li .name {
  color: #aab3c3;
  line-height: 180%;
}
.message-wrapper li .date-time {
  color: #001ae1;
  font-size: 0.65rem;
}
.message-wrapper li.out img.avatar {
  float: right;
}
.message-wrapper li.out .empty-avatar {
  float: right;
}
.message-wrapper li.out .plain-avatar {
  float: right;
}
.message-wrapper li .message {
  display: block;
  padding: 0;
  position: relative;
  line-height: 140%;
}
.message-wrapper li.in .message {
  text-align: left;
  margin-left: 70px;
}
.message-wrapper li.out {
  text-align: right;
}
.message-wrapper li.out .message {
  margin-right: 70px;
  text-align: right;
}
.message-wrapper li .message .body {
  display: block;
  padding-top: 5px;
}
.message-wrapper li .message .body span {
  font-style: italic;
}
.message-wrapper li:first-child {
  padding-top: 0;
}
.message-wrapper li:last-child {
  border-bottom: none;
}

/*************** Email Quotes Widget ***************/
.email-quotes {
  margin-bottom: 20px;
}
.email-quotes .quotes-header {
  background: #1530ff;
  color: #ffffff;
  font-size: 18px;
  padding: 12px 15px;
  -webkit-border-radius: 0.5rem 0.5rem 0 0;
  -moz-border-radius: 0.5rem 0.5rem 0 0;
  border-radius: 0.5rem 0.5rem 0 0;
}
.email-quotes ul {
  background: #001ae1;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.email-quotes ul li {
  color: #ffffff;
  width: 20%;
  padding: 15px 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid #001dfb;
}
.email-quotes ul li:last-child {
  border-right: 0;
}
.email-quotes ul li h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}
.email-quotes ul li p {
  margin: 0;
}

@media (max-width: 767px) {
  .email-quotes ul li {
    width: 50%;
    border: 0;
  }
  .email-quotes ul li:last-child {
    width: 100%;
  }
}
/*************** Icon Stats Widget ***************/
ul.stats li {
  line-height: 30px;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.stats li span.icon {
  background: #001ae1;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-right: 15px;
  float: left;
}
ul.stats li span.icon i {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}

/*************** Newsticker Widget ***************/
.scroll-stats {
  text-align: center;
  margin: 0 auto;
}
.scroll-stats i {
  font-size: 36px;
  color: #001ae1;
  cursor: pointer;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: auto;
}

ul#newsticker li {
  overflow: hidden;
  padding: 15px 0;
  min-height: 90px;
  text-align: left;
  line-height: 150%;
  border-bottom: 1px dotted #f5f6fa;
}
ul#newsticker li .ticker-image {
  width: 56px;
  height: 56px;
  float: left;
  padding: 3px;
}
ul#newsticker li .ticker-image img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
ul#newsticker li .ticker-wrapper {
  margin: 5px 0 0 70px;
}
ul#newsticker li .ticker-wrapper a {
  color: #001ae1;
  text-decoration: underline;
}
ul#newsticker li .ticker-wrapper a:hover {
  color: #0014ae;
}
ul#newsticker li:hover {
  background: #f5f6fa;
}

/*************** Tasks Widget ***************/
.task-list li {
  display: block;
  padding: 15px 0 15px 0;
  margin: 0;
  cursor: pointer;
}
.task-list li.list span {
  float: left;
  margin-top: 40px;
  color: #aab3c3;
}
.task-list li.list span:before {
  margin-right: 10px;
  font-size: 0.75rem;
  content: "\e5ca";
  font-family: "icomoon";
  vertical-align: middle;
  border: 2px solid #aab3c3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
}
.task-list li.completed {
  text-decoration: line-through;
  color: #aab3c3;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.task-list li.completed span:before {
  color: #001ae1;
  border: 2px solid #001ae1;
  content: "\e5ca";
  font-family: "icomoon";
  text-decoration: none;
}
.task-list li:first-child {
  padding-top: 0;
}
.task-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.task-list li .task-details {
  margin-left: 40px;
}
.task-list li .task-details p {
  margin: 0;
  padding: 10px 0 6px 0;
  line-height: 140%;
}
.task-list li .task-details p small {
  padding: 0;
  color: #aab3c3;
}
.task-list li .task-details p.date {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}
.task-list li .task-details p.date small {
  text-transform: uppercase;
}

/*************** Weather widget ***************/
.weather-widget {
  margin-bottom: 0.5rem;
  background-position: bottom center;
  color: #ffffff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 2.5rem;
  text-align: right;
}
.weather-widget.rainy {
  background: url("../img/unify-rainy.jpg") no-repeat;
  background-size: cover;
}
.weather-widget.sunny {
  background: url("../img/unify-sunny.jpg") no-repeat;
  background-size: cover;
}
.weather-widget.cloudy {
  background: url("../img/unify-cloudy.jpg") no-repeat;
  background-size: cover;
}
.weather-widget h2 {
  margin: 0;
  line-height: 120%;
}
.weather-widget h3 {
  margin: 0;
  line-height: 160%;
}
.weather-widget p {
  margin: 0;
  line-height: 180%;
}
.weather-widget small {
  color: #ffffff;
}

/*************** Simple Widget ***************/
.simple-widget {
  position: relative;
  padding: 15px;
  background: #001ae1;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  margin-bottom: 0.9rem;
}
.simple-widget .growth {
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: #001ae1; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2f47ff), to(#001ae1)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2f47ff, #001ae1); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2f47ff, #001ae1); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2f47ff, #001ae1); /* IE10 */
  background-image: -o-linear-gradient(top, #2f47ff, #001ae1); /* Opera 11.10+ */
  background-image: linear-gradient(top, #2f47ff, #001ae1);
  color: #ffffff;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.simple-widget h3 {
  margin: 0 0 15px 0;
}
.simple-widget p {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 10px 0;
}
.simple-widget .progress {
  background: rgba(255, 255, 255, 0.2);
}
.simple-widget .progress .progress-bar {
  background: #ffffff;
}

/*************** Custom Accordions ***************/
.accordion-icons a {
  position: relative;
  padding-left: 30px;
}
.accordion-icons a:before {
  position: absolute;
  left: 0;
  content: "\e903";
  font-family: "icomoon";
  font-size: 18px;
}
.accordion-icons a.collapsed:before {
  content: "\e902";
}

/*************** Settings ***************/
.settings li {
  border-bottom: 1px dotted #d3d7e9;
  padding: 10px 0;
}
.settings li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  line-height: 150%;
}
.settings li .toggle-switch {
  float: right;
}
.settings li a.cancel {
  float: right;
  margin-left: 10px;
  border: 2px solid #b1b9d8;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.settings li a.cancel i {
  font-size: 18px;
  color: #b1b9d8;
}
.settings li a.cancel.cancelled {
  border: 2px solid #ff3434;
}
.settings li a.cancel.cancelled i {
  color: #ff3434;
}
.settings li:first-child {
  padding-top: 0;
}
.settings li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

/************************************************
	************************************************
											Pages							
	************************************************
************************************************/
/*************** Invoice Page ***************/
.invoice-container {
  padding: 1rem;
  background-color: #ffffff;
}
.invoice-container img.invoice-logo {
  max-width: 50px;
}

/*************** Icons Page ***************/
.icons {
  text-align: center;
}
.icons span {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #000000;
  background: #f5f6fa;
  margin-bottom: 3px;
}
.icons span:hover {
  background-color: #001ae1;
  color: #ffffff;
  text-shadow: 0 10px 10px #000000;
}

/*************** Gallery Page ***************/
.gallery {
  margin: 0 auto;
}
.gallery a {
  border: 3px solid #f2f3f8;
  position: relative;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px #b1b9d8; /* FF3.5+ */
  -webkit-box-shadow: 0 0 10px #b1b9d8; /* Saf3.0+, Chrome */
  box-shadow: 0 0 10px #b1b9d8; /* Opera 10.5, IE9 */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  margin: 0 0 15px 0;
  opacity: 1;
}
.gallery a img {
  max-height: 150px;
}
.gallery a .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gallery a .expand {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  border: 2px solid #ffb012;
  text-align: center;
  color: #ffb012;
  line-height: 44px;
  font-size: 30px;
  margin-left: -20px;
  margin-top: -20px;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery a:hover {
  opacity: 1;
}
.gallery a:hover .overlay {
  opacity: 1;
}
.gallery a:hover span.expand {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/*************** Profile Page ***************/
.block-140 {
  background: #ffffff;
  display: block;
  height: 142px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.block-300 {
  background: #ffffff;
  display: block;
  height: 300px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

a.block-140 {
  background: #ffffff;
  display: block;
  height: 142px;
  padding: 30px 15px;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #e4e7f2;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: none;
}
a.block-140 .icon {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 auto 10px auto;
  background: #f5f6fa;
  padding: 8px;
  text-align: center;
  line-height: 32px;
}
a.block-140 .icon i {
  font-size: 1.2rem;
  vertical-align: middle;
  color: #ffffff;
}
a.block-140 .icon.primary {
  background: #001ae1;
}
a.block-140 .icon.secondary {
  background: #ff3e7e;
}
a.block-140 h5 {
  margin: 5px 0 0 0;
  padding: 0;
  overflow: hidden;
}
a.block-140 p {
  margin: 0;
  padding: 0;
  font-size: 90%;
  color: #aab3c3;
}

a.block-300 {
  background: #ffffff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0;
  display: block;
  height: 300px;
  text-align: center;
  color: #001ae1;
  border: 1px solid #e4e7f2;
  box-shadow: none;
}
a.block-300:hover {
  color: #ff3434;
}

.user-profile {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user-profile img.profile-thumb {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin: 10px auto 15px auto;
}
.user-profile h5.profile-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-profile h6.profile-designation {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 130%;
}
.user-profile p.profile-location {
  margin: 0 0 15px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a.blog-sm {
  display: block;
  padding-bottom: 5px;
}
a.blog-sm img.blog-thumb {
  margin-bottom: 15px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #001ae1;
  max-height: 180px;
}
a.blog-sm h6.blog-title {
  margin: 0 0 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 130%;
}
a.blog-sm p.blog-content {
  margin: 0 0 15px 0;
  line-height: 180%;
}
a.blog-sm p.blog-date {
  margin: 0;
  font-size: 0.75rem;
  color: #001ae1;
  position: relative;
}
a.blog-sm p.blog-date:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 2px;
  background: #001ae1;
}

@media (max-width: 767px) {
  a.blog-sm p.blog-date {
    margin: 0 0 15px 0;
  }
}
/************************************************
	************************************************
							Plugins Overwrite CSS							
	************************************************
************************************************/
/*************** Map/Chart/Graph Heights ***************/
.chart-height {
  position: relative;
  height: 210px;
}

.chart-height-2 {
  position: relative;
  height: 158px;
}

.chart-height-md {
  position: relative;
  height: 190px;
}

.chart-height-lg {
  position: relative;
  height: 280px;
}

.chart-height-lgx {
  position: relative;
  height: 251px;
}

/*************** Gmap Skins ***************/
.map {
  width: 100%;
  height: 240px;
  background: #f5f6fa;
}

/*************** jVector Map ***************/
.jvectormap-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.jvectormap-tip {
  position: absolute;
  display: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 6px 12px;
}

/*************** Flot Chart ***************/
.legendLabel {
  padding-left: 5px;
  padding-right: 10px;
  font-size: 10px;
}

/*************** Notify ***************/
.notify-notifications .btn {
  margin: 3px;
  min-width: 120px;
  float: left;
}

/*************** Rating ***************/
.stars {
  margin: 5px 0 0 0;
  width: 100% !important;
}
.stars img {
  width: 18px;
  height: 18px;
}

/*************** Login Signup Screens ***************/
.login-screen {
  padding-top: 70px;
}
.login-screen .login-logo {
  margin: 20px 0 20px 0;
  text-align: left;
  display: block;
}
.login-screen .login-logo > img {
  margin: 0;
  max-height: 48px;
}

.login-container {
  position: relative;
  box-shadow: 0px 25px 15px -15px #d3d7e9;
  background: #ffffff;
  margin: 0 auto;
}
.login-container .login-box {
  padding: 50px 50px;
}
.login-container .login-box h5 {
  margin: 0 0 20px 0;
  color: #001ae1;
}
.login-container .actions {
  margin-top: 15px;
  display: block;
  margin-bottom: 30px;
}
.login-container .actions a {
  color: #001ae1;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
}
.login-container .actions a:hover {
  text-decoration: underline;
}
.login-container .actions .btn {
  float: right;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 8px 25px;
}
.login-container a.additional-link {
  color: #001ae1;
  text-decoration: none;
  margin: 40px auto 0 auto;
  text-align: center;
  display: block;
}
.login-container a.additional-link span {
  text-decoration: underline;
  color: #000000;
}
.login-container p.info {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 150%;
  color: #aab3c3;
}

.login-slider {
  background: url("../img/login-slider.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.login-slider .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin-left: -35px;
  margin-top: -35px;
}

.signup-slider {
  background: url("../img/login-slider.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .login-slider {
    display: none;
  }
  .signup-slider {
    display: none;
  }
}
/*************** Lock Screen ***************/
.lock-screen {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-align: center;
}
.lock-screen .avatar {
  position: relative;
  margin: auto;
  width: 90px;
  margin: 10px auto;
}
.lock-screen .avatar img {
  width: 90px;
  height: 90px;
}
.lock-screen .avatar .lock {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 32px;
  height: 32px;
  background: #001ae1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.lock-screen .avatar .lock i {
  color: #ffffff;
  line-height: 32px;
}
.lock-screen h5 {
  margin: 0 0 10px 0;
  color: #001ae1;
}

.lock-screen-input {
  margin: 20px auto;
  height: 52px;
  position: relative;
}
.lock-screen-input .form-control {
  height: 52px;
  padding: 12px 5px 12px 20px;
  border: 1px solid #001ae1;
}
.lock-screen-input .lock-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  height: 42px;
  width: 70px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #001ae1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.lock-screen-input .lock-btn i {
  font-size: 21px;
  vertical-align: middle;
  line-height: 42px;
}

/*************** Error screen ***************/
.error-screen {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 240px;
  margin-top: -120px;
  text-align: center;
}
.error-screen h1 {
  font-size: 8rem;
  color: #001ae1;
  line-height: 100%;
  margin: 0;
  font-family: "BalooBhaina", arial, sans-serif;
}
.error-screen h4 {
  line-height: 100%;
  margin-bottom: 30px;
}

/*************** Pricing Plans ***************/
.plan-one {
  margin: 0 0 20px 0;
  width: 100%;
  position: relative;
  float: left;
  background-color: #001ae1;
  color: #ffffff;
  -webkit-border-radius: 5px 5px 10px 10px;
  -moz-border-radius: 5px 5px 10px 10px;
  border-radius: 5px 5px 10px 10px;
}
.plan-one .pricing-header {
  position: relative;
  padding: 20px 10px;
  margin-bottom: 10px;
}
.plan-one .pricing-header i {
  font-size: 48px;
  margin: 0 15px;
  color: #ffffff;
  display: inline-block;
  float: left;
}
.plan-one .plan-title {
  top: 0;
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.plan-one .plan-cost {
  margin: 0;
}
.plan-one .plan-cost .plan-price {
  font-size: 20px;
}
.plan-one .plan-cost .plan-type {
  opacity: 0.8;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.plan-one .plan-features {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  list-style: outside none none;
  font-size: 14px;
  text-align: left;
}
.plan-one .plan-features li {
  padding: 7px 10px 7px 15px;
  border-left: 3px solid #e1e5fe;
  margin: 3px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plan-one .plan-features li:hover {
  color: #ffffff;
}
.plan-one .plan-select {
  background-color: #0017c8;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
.plan-one .plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #001ae1;
}
.plan-one .plan-select a:hover {
  background-color: #001ae1;
}

@media (max-width: 767px) {
  .plan-one .pricing-header {
    text-align: center;
  }
  .plan-one .pricing-header i {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}
.plan-two {
  margin: 0 0 20px 0;
  width: 100%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 2px solid #001ae1;
  color: #001ae1;
  -webkit-border-radius: 5px 5px 10px 10px;
  -moz-border-radius: 5px 5px 10px 10px;
  border-radius: 5px 5px 10px 10px;
}
.plan-two .pricing-header {
  position: relative;
  padding: 20px 10px;
  margin-bottom: 10px;
}
.plan-two .pricing-header i {
  font-size: 48px;
  margin: 0 15px;
  color: #001ae1;
  display: inline-block;
  float: left;
}
.plan-two .plan-title {
  top: 0;
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.plan-two .plan-cost {
  margin: 0;
}
.plan-two .plan-cost .plan-price {
  font-size: 20px;
}
.plan-two .plan-cost .plan-type {
  opacity: 0.8;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.plan-two .plan-features {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  list-style: outside none none;
  font-size: 14px;
  text-align: left;
}
.plan-two .plan-features li {
  padding: 7px 10px 7px 15px;
  border-left: 3px solid #001ae1;
  margin: 3px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plan-two .plan-features li:hover {
  color: #000000;
}
.plan-two .plan-select {
  background-color: #f5f6fa;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  text-align: center;
}
.plan-two .plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #001ae1;
}
.plan-two .plan-select a:hover {
  background-color: #001ae1;
}

@media (max-width: 767px) {
  .plan-two .pricing-header {
    text-align: center;
  }
  .plan-two .pricing-header i {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}
.plan-three {
  margin: 0 0 20px 0;
  width: 100%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 2px solid #e1e5f1;
  color: #000000;
  -webkit-border-radius: 5px 5px 10px 10px;
  -moz-border-radius: 5px 5px 10px 10px;
  border-radius: 5px 5px 10px 10px;
}
.plan-three .pricing-header {
  position: relative;
  padding: 20px 10px;
  margin-bottom: 10px;
}
.plan-three .pricing-header i {
  font-size: 48px;
  margin: 0 15px;
  color: #001ae1;
  display: inline-block;
  float: left;
}
.plan-three .plan-title {
  top: 0;
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.plan-three .plan-cost {
  margin: 0;
}
.plan-three .plan-cost .plan-price {
  font-size: 20px;
}
.plan-three .plan-cost .plan-type {
  opacity: 0.8;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.plan-three .plan-features {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  list-style: outside none none;
  font-size: 14px;
  text-align: left;
}
.plan-three .plan-features li {
  padding: 7px 10px 7px 15px;
  border-left: 3px solid #e1e5f1;
  margin: 3px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plan-three .plan-features li:hover {
  color: #001ae1;
}
.plan-three .plan-select {
  background-color: #f5f6fa;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  text-align: center;
}
.plan-three .plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #001ae1;
}
.plan-three .plan-select a:hover {
  background-color: #001ae1;
}

@media (max-width: 767px) {
  .plan-three .pricing-header {
    text-align: center;
  }
  .plan-three .pricing-header i {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}
/*************** Timeline ***************/
.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 1px dashed #d3d7e9;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;
  color: #001ae1;
  font-size: 1rem;
}
.timeline-row .timeline-time small {
  display: block;
  margin-top: 5px;
  color: #aab3c3;
}
.timeline-row .timeline-dot {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  overflow: hidden;
  padding: 2px;
  color: #ffffff;
  z-index: 100;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.timeline-row .timeline-content {
  position: relative;
  padding: 20px;
}
.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 40px;
  height: 3px;
  width: 40px;
}
.timeline-row .timeline-content h4 {
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 14px;
}
.timeline-row .timeline-content p {
  margin-bottom: 10px;
  line-height: 140%;
}
.timeline-row .timeline-content i {
  font-size: 30px;
  color: #ffffff;
  line-height: 100%;
}
.timeline-row:nth-child(even) .timeline-content {
  background: #ff3e7e;
  margin-left: 40px;
  text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ff3e7e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
  background: #001ae1;
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}
.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #001ae1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
    padding: 15px 10px;
  }
  .timeline:after {
    left: 28px;
  }
  .timeline .timeline-row {
    padding-left: 0;
    margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
    position: relative;
    right: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
    display: inline-block;
    margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
    top: 52px;
    left: -2px;
    margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
    margin-left: 56px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    right: auto;
    left: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 0;
    margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
    border-right: 18px solid #001ae1;
    border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: 20px;
  }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0;
  }
}
/*************** Loading ***************/
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f5f6fa;
  z-index: 10000;
}
.loading-wrapper .loading {
  position: absolute;
  width: 50px;
  top: 50%;
  margin-top: -23px;
  text-align: center;
  left: 50%;
  margin-left: -25px;
}
.loading-wrapper .loading span {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 3px;
  margin: 2px;
  position: absolute;
  left: 0px;
  top: 45px;
  background: #ff3e7e;
  animation: loading 1s infinite alternate;
}
.loading-wrapper .loading span:nth-of-type(1) {
  background: #001ae1;
  animation-delay: 0.1s;
  left: 8px;
}
.loading-wrapper .loading span:nth-of-type(2) {
  background: #ff3e7e;
  animation-delay: 0.2s;
  left: 16px;
}
.loading-wrapper .loading span:nth-of-type(3) {
  background: #001ae1;
  animation-delay: 0.4s;
  left: 24px;
}
.loading-wrapper .loading span:nth-of-type(4) {
  background: #ff3e7e;
  animation-delay: 0.6s;
  left: 32px;
}

/************************************************
	************************************************
							Bootstrap Overwrite CSS							
	************************************************
************************************************/
/*************** Modals ***************/
.modal-content {
  border: 1px solid #e1e5f1;
}

.modal-header {
  padding: 10px 15px;
  border-bottom: 1px solid #e1e5f1;
}

/*************** Carousel ***************/
.carousel-item {
  max-height: 450px;
}

/*************** Buttons ***************/
.btn {
  font-size: 0.875rem;
}
.btn .icon {
  font-size: 1.4rem;
  vertical-align: middle;
  margin-top: -2px;
}
.btn.focus, .btn:focus {
  color: #ffffff;
}

.btn-sm .icon {
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -2px;
}

.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.btn-primary {
  background-color: #001ae1;
  border-color: #001ae1;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0017c8;
  border-color: #0017c8;
  color: #ffffff;
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px #95a1ff;
}

.btn-secondary {
  background-color: #ff3e7e;
  border-color: #ff3e7e;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #ff256d;
  border-color: #ff256d;
  color: #ffffff;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 3px #ffa9c6;
}

.btn-success {
  background-color: #06a219;
  border-color: #06a219;
}
.btn-success:hover {
  background-color: #058915;
  border-color: #058915;
}
.btn-success:focus {
  box-shadow: 0 0 0 3px #58f96b;
}

.btn-danger {
  background-color: #ff3434;
  border-color: #ff3434;
}
.btn-danger:hover {
  background-color: #ff1b1b;
  border-color: #ff1b1b;
}
.btn-danger:focus {
  box-shadow: 0 0 0 3px #ffa4a4;
}

.btn-warning {
  background-color: #ffb012;
  border-color: #ffb012;
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #f8a500;
  border-color: #f8a500;
  color: #ffffff;
}
.btn-warning:focus {
  box-shadow: 0 0 0 3px #ffe3ab;
  color: #ffffff;
}

.btn-info {
  background-color: #0e22bc;
  border-color: #0e22bc;
}
.btn-info:hover {
  background-color: #0c1ea4;
  border-color: #0c1ea4;
}
.btn-info:focus {
  box-shadow: 0 0 0 3px #8693f6;
}

.btn-light {
  background-color: #e0f0fe;
  border-color: #e0f0fe;
}
.btn-light:hover {
  background-color: #c7e4fd;
  border-color: #c7e4fd;
}
.btn-light:focus {
  box-shadow: 0 0 0 3px #afd8fc;
}

.btn-dark {
  background-color: #7b99b4;
  border-color: #7b99b4;
}
.btn-dark:hover {
  background-color: #6b8cab;
  border-color: #6b8cab;
}
.btn-dark:focus {
  box-shadow: 0 0 0 3px #bccbd9;
}

.btn-link {
  color: #001ae1;
}
.btn-link:hover {
  text-decoration: none;
}

.btn-outline-primary {
  border-color: #001ae1;
  color: #001ae1;
}
.btn-outline-primary:hover {
  background-color: #001ae1;
  border-color: #001ae1;
  color: #ffffff;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 3px #95a1ff;
}

.btn-outline-secondary {
  border-color: #ff0b5c;
  color: #ff3e7e;
}
.btn-outline-secondary:hover {
  background-color: #ff0b5c;
  border-color: #ff0b5c;
  color: #ffffff;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 3px #ffa9c6;
}

.btn-outline-success {
  border-color: #06a219;
  color: #06a219;
}
.btn-outline-success:hover {
  background-color: #06a219;
  border-color: #06a219;
  color: #ffffff;
}
.btn-outline-success:focus {
  box-shadow: 0 0 0 3px #58f96b;
}

.btn-outline-danger {
  border-color: #ff3434;
  color: #ff3434;
}
.btn-outline-danger:hover {
  background-color: #ff3434;
  border-color: #ff3434;
  color: #ffffff;
}
.btn-outline-danger:focus {
  box-shadow: 0 0 0 3px #ffa4a4;
}

.btn-outline-warning {
  border-color: #ffb012;
  color: #ffb012;
}
.btn-outline-warning:hover {
  background-color: #ffb012;
  border-color: #ffb012;
  color: #ffffff;
}
.btn-outline-warning:focus {
  box-shadow: 0 0 0 3px #ffe3ab;
}

.btn-outline-info {
  border-color: #0e22bc;
  color: #0e22bc;
}
.btn-outline-info:hover {
  background-color: #0e22bc;
  border-color: #0e22bc;
  color: #ffffff;
}
.btn-outline-info:focus {
  box-shadow: 0 0 0 3px #8693f6;
}

.btn-outline-light {
  border-color: #e0f0fe;
  color: #e0f0fe;
  color: #7b99b4;
}
.btn-outline-light:hover {
  background-color: #e0f0fe;
  border-color: #e0f0fe;
  color: #7b99b4;
}
.btn-outline-light:focus {
  box-shadow: 0 0 0 3px #afd8fc;
}

.btn-outline-dark {
  border-color: #7b99b4;
  color: #000000;
}
.btn-outline-dark:hover {
  background-color: #6b8cab;
  border-color: #6b8cab;
  color: #ffffff;
}
.btn-outline-dark:focus {
  box-shadow: 0 0 0 3px #bccbd9;
}

.btn.disabled,
.btn:disabled {
  pointer-events: none;
}

/*************** Dropdown Menu ***************/
.dropdown-menu {
  border: 1px solid #e1e5f1;
  min-width: 12rem;
}
.dropdown-menu.lg {
  min-width: 18rem;
}
.dropdown-menu:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e1e5f1;
}
.dropdown-menu:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 6px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}
.dropdown-menu .dropdown-item {
  font-size: 13px;
  padding: 0.25rem 1rem;
}
.dropdown-menu .dropdown-item:hover {
  background: #e1e5fe;
}
.dropdown-menu.dropdown-menu-right:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 5px;
  left: auto;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e1e5f1;
}
.dropdown-menu.dropdown-menu-right:after {
  content: "";
  position: absolute;
  top: -7px;
  right: 6px;
  left: auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}

.dropup .dropdown-menu:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 5px;
  top: auto;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #e1e5f1;
  border-bottom: inherit;
}
.dropup .dropdown-menu:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 6px;
  top: auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff;
  border-bottom: inherit;
}

/*************** Media ***************/
.media {
  margin-top: 0;
}
.media .media-left a {
  display: block;
}
.media .media-left a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 64px;
  height: 64px;
}
.media a .empty-avatar {
  height: 64px;
  width: 64px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  display: block;
  line-height: 60px;
  background: #001ae1;
}
.media a .empty-avatar.secondary {
  background: #ff3e7e;
}
.media a .empty-avatar.green {
  background: #06a219;
}
.media a .empty-avatar.red {
  background: #ff3434;
}
.media a .empty-avatar.yellow {
  background: #ffb012;
}
.media a .empty-avatar.pink {
  background: #f782aa;
}
.media a .empty-avatar.blue {
  background: #0e22bc;
}
.media .media-body h5.media-heading {
  font-size: 1rem;
}
.media .media-body h5.media-heading span.date {
  color: #aab3c3;
  font-size: 0.75rem;
  padding-left: 5px;
}
.media .media-body p {
  padding: 0 0 0 15px;
  margin: 15px 0;
  line-height: 170%;
  border-left: 3px solid #e1e5f1;
}
.media.disabled {
  opacity: 0.2;
  cursor: no-drop;
}

.comments-footer {
  margin-bottom: 25px;
}
.comments-footer ul li {
  float: left;
  margin-right: 15px;
}
.comments-footer ul li a {
  color: #aab3c3;
}
.comments-footer ul li a span.count {
  margin-right: 2px;
}
.comments-footer ul li a.high {
  color: #06a219;
}
.comments-footer ul li a.low {
  color: #ff3434;
}
.comments-footer ul li a:hover {
  color: #001ae1;
}

.comments-form .form-group {
  margin-bottom: 10px;
}

/*************** Card ***************/
.card {
  border: 1px solid #e4e7f2;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: none;
}
.card.top-blue-bdr {
  border-top: 2px solid #001ae1;
}
.card.top-grey-bdr {
  border-top: 2px solid #333333;
}
.card.top-red-bdr {
  border-top: 2px solid #ff3434;
}
.card .card-body {
  padding: 1rem;
  position: relative;
}
.card .card-header {
  background: #ffffff;
  border-bottom: 1px solid #ebedf5;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
}
.card .card-header h5 {
  font-size: 1rem;
}
.card .card-header h5 a {
  color: #001ae1;
}
.card .card-header a.link {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 0.75rem;
  color: #001ae1;
}
.card .card-header:first-child {
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}
.card .card-footer {
  background: #ffffff;
  border-top: 1px solid #e1e5f1;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
}
.card .card-footer h5 {
  font-size: 1rem;
}
.card .card-footer h5 a {
  color: #001ae1;
}
.card h6.card-title {
  text-align: center;
  margin: 1rem;
}
.card.bg-primary {
  border: 1px solid #001ae1;
}
.card.bg-primary .card-header {
  background: #001ae1;
  border-bottom: 1px solid #0017c8;
}
.card.bg-secondary {
  border: 1px solid #ff3e7e;
}
.card.bg-secondary .card-header {
  background: #ff3e7e;
  border-bottom: 1px solid #ff1563;
}
.card.bg-dark {
  border: 1px solid #3c3c3c;
}
.card.bg-dark .card-header {
  background: #3c3c3c;
  border-bottom: 1px solid #282828;
}
.card.bg-light {
  border: 1px solid #f0f8ff;
}
.card.bg-light .card-header {
  background: #f0f8ff;
  border-bottom: 1px solid #d7ecff;
}
.card.bg-success {
  border: 1px solid #06a219;
}
.card.bg-success .card-header {
  background: #06a219;
  border-bottom: 1px solid #058915;
}
.card.bg-info {
  border: 1px solid #0e22bc;
}
.card.bg-info .card-header {
  background: #0e22bc;
  border-bottom: 1px solid #0c1ea4;
}
.card.bg-warning {
  border: 1px solid #ffb012;
}
.card.bg-warning .card-header {
  background: #ffb012;
  border-bottom: 1px solid #e89b00;
}
.card.bg-danger {
  border: 1px solid #ff3434;
}
.card.bg-danger .card-header {
  background: #ff3434;
  border-bottom: 1px solid #ff1b1b;
}
.card.bg-grey {
  background: #333333;
  border: 1px solid #333333;
}
.card.bg-grey .card-header {
  background: #333333;
  border-bottom: 1px solid #1f1f1f;
}
.card.bg-brown {
  background: #ab7967;
  border: 1px solid #ab7967;
}
.card.bg-brown .card-header {
  background: #ab7967;
  border-bottom: 1px solid #966553;
}
.card.bg-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.card.bg-facebook .card-header {
  background: #3b5998;
  border-bottom: 1px solid #30487b;
}

.card-message {
  background-color: #ffffff;
  padding: 12px 20px;
  border-bottom: 1px solid #e1e5f1;
}
.card-message i {
  font-size: 2rem;
  margin-right: 10px;
  float: left;
}

/*************** Card Header Tabs ***************/
.card-header-tabs {
  margin-right: 0;
  margin-left: 0;
}

/*************** Tooltip ***************/
.tooltip {
  font-size: 0.75rem;
}

.tooltip-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*************** Badges ***************/
.badge {
  padding: 0.4em 1em 0.4em 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

.badge-pill {
  padding: 0.4em 1em 0.4em 1em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.badge-primary {
  background-color: #001ae1;
}
.badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: #0017c8;
}

.badge-secondary {
  background-color: #ff3e7e;
}
.badge-secondary[href]:focus, .badge-secondary[href]:hover {
  background-color: #ff256d;
}

.badge-success {
  background-color: #06a219;
}
.badge-success[href]:focus, .badge-success[href]:hover {
  background-color: #058915;
}

.badge-danger {
  background-color: #ff3434;
}
.badge-danger[href]:focus, .badge-danger[href]:hover {
  background-color: #ff1b1b;
}

.badge-warning {
  background-color: #ffb012;
}
.badge-warning[href]:focus, .badge-warning[href]:hover {
  background-color: #f8a500;
}

.badge-info {
  background-color: #0e22bc;
}
.badge-info[href]:focus, .badge-info[href]:hover {
  background-color: #0c1ea4;
}

.badge-light {
  background-color: #e0f0fe;
}
.badge-light[href]:focus, .badge-light[href]:hover {
  background-color: #c7e4fd;
}

.badge-dark {
  background-color: #7b99b4;
}
.badge-dark[href]:focus, .badge-dark[href]:hover {
  background-color: #6b8cab;
}

.badge-bdr,
.badge-bdr-pill {
  background-color: transparent;
}
.badge-bdr.badge-bdr-pill,
.badge-bdr-pill.badge-bdr-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.badge-bdr.badge-primary,
.badge-bdr-pill.badge-primary {
  color: #001ae1;
  border: 1px solid #001ae1;
}
.badge-bdr.badge-secondary,
.badge-bdr-pill.badge-secondary {
  color: #ff3e7e;
  border: 1px solid #ff3e7e;
}
.badge-bdr.badge-danger,
.badge-bdr-pill.badge-danger {
  color: #ff3434;
  border: 1px solid #ff3434;
}
.badge-bdr.badge-success,
.badge-bdr-pill.badge-success {
  color: #06a219;
  border: 1px solid #06a219;
}
.badge-bdr.badge-warning,
.badge-bdr-pill.badge-warning {
  color: #ffb012;
  border: 1px solid #ffb012;
}
.badge-bdr.badge-info,
.badge-bdr-pill.badge-info {
  color: #0e22bc;
  border: 1px solid #0e22bc;
}
.badge-bdr.badge-dark,
.badge-bdr-pill.badge-dark {
  color: #7b99b4;
  border: 1px solid #7b99b4;
}
.badge-bdr.badge-light,
.badge-bdr-pill.badge-light {
  color: #e0f0fe;
  border: 1px solid #e0f0fe;
}

/*************** Alerts ***************/
.alert {
  padding: 0.75rem 1rem;
  position: relative;
  background: #ffffff;
  border: 1px solid #e4e7f2;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
  margin-bottom: 1rem;
  box-shadow: none;
  line-height: 160%;
}
.alert i {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.alert hr {
  border-top-color: #e1e5f1;
}

.alert-dismissible .close {
  padding: 0.5rem 1rem;
  top: -0.7rem;
}

.close {
  text-shadow: none;
  font-size: 1.2rem;
}

.alert-success {
  color: #2e323c;
}
.alert-success i {
  color: #06a219;
}
.alert-success hr {
  border-top-color: #07bb1d;
}

.alert-danger {
  color: #2e323c;
}
.alert-danger i {
  color: #ff3434;
}
.alert-danger hr {
  border-top-color: #ff4e4e;
}

.alert-warning {
  color: #2e323c;
}
.alert-warning i {
  color: #ffb012;
}
.alert-warning hr {
  border-top-color: #ffb92c;
}

.alert-info {
  color: #2e323c;
}
.alert-info i {
  color: #0e22bc;
}
.alert-info hr {
  border-top-color: #1026d4;
}

.alert-dark {
  background-color: #7b99b4;
  color: #000000;
}

/*************** Progressbars ***************/
.progress {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #f5f6fa;
}
.progress.md {
  height: 8px;
}
.progress.sm {
  height: 5px;
}
.progress.xs {
  height: 3px;
}

.progress-bar {
  background: #001ae1;
}

/*************** Popovers ***************/
.popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e1e5f1;
}
.popover .popover-header {
  background: #f5f6fa;
}

/*************** Tabs, Pills & Navs ***************/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #e1e5f1 #e1e5f1 #ffffff;
  color: #2e323c;
}

.nav-tabs .nav-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-link {
  border: none;
  position: relative;
  padding: 0.5rem 1.3rem;
}
.nav-link:hover {
  color: #001ae1;
}
.nav-link.active {
  text-decoration: none;
}
.nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1rem;
  right: 1rem;
  height: 3px;
  background: #001ae1;
}
.nav-link.disabled {
  pointer-events: none;
}

.tab-content {
  padding: 1rem;
  border: 1px solid #e1e5f1;
  border-top: 0;
}
.tab-content.plain {
  padding: 0;
  border: 0;
}

.custom-tabs .nav-tabs .nav-item.show .nav-link,
.custom-tabs .nav-tabs .nav-link.active {
  border: 1px solid transparent;
  padding: 0.5rem 0;
}
.custom-tabs .nav-tabs .nav-link:focus,
.custom-tabs .nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}
.custom-tabs .nav-link.active:before {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: -4px;
  height: 7px;
  width: 7px;
  background: #001ae1;
}
.custom-tabs .nav-link.active:after {
  right: 1rem;
  left: 1rem;
  bottom: -2px;
}
.custom-tabs .nav-tabs {
  border: 0;
}
.custom-tabs .tab-content {
  border: 0;
  padding: 1rem 0;
}

/*************** Pills ***************/
.nav-pills .nav-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*************** Page Item ***************/
.page-item.active .page-link {
  background-color: #001ae1;
  border-color: #001ae1;
}

/*************** Breadcrumbs ***************/
.breadcrumb {
  background-color: #f5f6fa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb .breadcrumb-item a {
  color: #001ae1;
}
.breadcrumb .breadcrumb-item a i {
  font-size: 16px;
}
.breadcrumb .breadcrumb-item.active {
  color: #aab3c3;
}
.breadcrumb.light {
  background-color: #f0f8ff;
}

/*************** jumbotron ***************/
.jumbotron {
  background-color: #f5f6fa;
}

/*************** List Group ***************/
.list-group-item {
  border: 1px solid #e1e5f1;
}

.list-group-item-primary {
  background: #001ae1;
  color: #ffffff;
}

.list-group-item-secondary {
  background: #ff3e7e;
  color: #ffffff;
}

.list-group-item-success {
  background: #06a219;
  color: #ffffff;
}

.list-group-item-danger {
  background: #ff3434;
  color: #ffffff;
}

.list-group-item-info {
  background: #0e22bc;
  color: #ffffff;
}

.list-group-item-warning {
  background: #ffb012;
  color: #ffffff;
}

.list-group-item-light {
  background: #e0f0fe;
  color: #0e22bc;
}

.list-group-item-dark {
  background: #7b99b4;
  color: #ffffff;
}

a.list-group-item-primary {
  background: #001ae1;
  color: #ffffff;
}
a.list-group-item-primary:hover {
  background: #0017c8;
  color: #ffffff;
}

a.list-group-item-secondary {
  background: #ff3e7e;
  color: #ffffff;
}
a.list-group-item-secondary:hover {
  background: #ff256d;
  color: #ffffff;
}

a.list-group-item-success {
  background: #06a219;
  color: #ffffff;
}
a.list-group-item-success:hover {
  background: #058915;
  color: #ffffff;
}

a.list-group-item-danger {
  background: #ff3434;
  color: #ffffff;
}
a.list-group-item-danger:hover {
  background: #ff1b1b;
  color: #ffffff;
}

a.list-group-item-info {
  background: #0e22bc;
  color: #ffffff;
}
a.list-group-item-info:hover {
  background: #0c1ea4;
  color: #ffffff;
}

a.list-group-item-warning {
  background: #ffb012;
  color: #ffffff;
}
a.list-group-item-warning:hover {
  background: #f8a500;
  color: #ffffff;
}

a.list-group-item-light {
  background: #e0f0fe;
  color: #0e22bc;
}
a.list-group-item-light:hover {
  background: #c7e4fd;
  color: #0e22bc;
}

a.list-group-item-dark {
  background: #7b99b4;
  color: #ffffff;
}
a.list-group-item-dark:hover {
  background: #6b8cab;
  color: #ffffff;
}

/*************** Pagination ***************/
.page-item:first-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.page-item:last-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pagination-lg .page-item:first-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pagination-lg .page-item:last-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pagination-sm .page-item:first-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pagination-sm .page-item:last-child .page-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.page-link {
  color: #001ae1;
  border: 1px solid #e1e5f1;
}
.page-link:hover {
  background: #f5f6fa;
  border-color: #e1e5f1;
}

/*************** Forms ***************/
address {
  border-left: 2px solid #001ae1;
  padding-left: 20px;
  line-height: 170%;
}

.form-control {
  font-size: 0.875rem;
  border: 1px solid #e1e5f1;
}
.form-control:focus {
  border: 1px solid #001ae1;
}
.form-control::-webkit-input-placeholder {
  color: #aab3c3;
}
.form-control:-moz-placeholder {
  color: #aab3c3;
}
.form-control::-moz-placeholder {
  color: #aab3c3;
}
.form-control:-ms-input-placeholder {
  color: #aab3c3;
}

label {
  line-height: 1.8;
}

.input-group-text {
  font-size: 0.9rem;
  background: #f5f6fa;
  color: #aab3c3;
  border: 1px solid #e1e5f1;
}

.input-group-addon {
  border: 1px solid #e1e5f1;
  background: #f5f6fa;
  color: #aab3c3;
}

/*************** Tables ***************/
.table-hover tbody tr:hover {
  background-color: #f5f6fa;
}

.table td,
.table th {
  vertical-align: middle;
}

.thead-default th {
  background: #f5f6fa;
}

.table-inverse {
  background: #001ae1;
  color: #ffffff;
}

.table-inverse td,
.table-inverse th,
.table-inverse thead th {
  border-color: #0017c8;
}

.thead-inverse th {
  background-color: #001ae1;
  color: #ffffff;
}

.table thead th {
  border-bottom: 1px solid #e1e5f1;
}

.table-success,
.table-success > td,
.table-success > th {
  background-color: #dbf1d8;
}

.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: #fde8e8;
}

.table-warning,
.table-warning > td,
.table-warning > th {
  background-color: #fdebd1;
}

.table-info,
.table-info > td,
.table-info > th {
  background-color: #e1e5fe;
}

.table-light,
.table-light > td,
.table-light > th {
  background-color: #f5f6fa;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5f6fa;
}

/*************** Gutters ***************/
.gutters {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters > .col,
.gutters > [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0px;
  padding-left: 0px;
}