/*************** 1. Sass Variables ***************/
$body-bg: #f5f6fa;

$border-bg: #e1e5f1; //#eaecf3

$font-color: #2e323c;
$font-color-light: #aab3c3;

$primary-color: #001ae1;
$primary-light-color: #e0f0fe;
$secondary-color: #ff3e7e;
$secondary-dark-color: #7b99b4;

$sidebar-dark-bg: #2e3841;

$white: #ffffff;
$black: #000000;

$light-color: #f0f8ff;
$dark-color: #3c3c3c;

$red: #ff3434;
$dark-red: #ce1010;
$light-red: #fde8e8;

$yellow: #ffb012;
$dark-yellow: #ffac07;
$light-yellow: #fdebd1;

$green: #06a219;
$dark-green: #0c9005;
$light-green: #dbf1d8;

$blue: #0e22bc;
$dark-blue: #09156c;
$light-blue: #e1e5fe;

$teal: #47bcc7;
$dark-teal: #47bcc7;

$orange: #ff9f41;
$dark-orange: #ff850e;

$purple: #4152bc;
$dark-purple: #26369d;
$light-purple: #dde2ff;

$violet: #8e6cd0;
$dark-violet: #7747d5;
$light-violet: #f4efff;

$brown: #ab7967;
$dark-brown: #66636c;
$light-brown: #e7e0e1;

$pink: #f782aa;
$dark-pink: #c76d8c;
$light-pink: #ffeaf7;

$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$gplus: #e02f2f;

$lock-screen-bg: #363344;
$lock-screen-theme: #b62b45;
$lock-screen-theme2: #e2a0b5;

/*************** 2.Mixins ***************/

// Gradients
@mixin linear-gradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from($fromColor),
		to($toColor)
	); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(
		top,
		$fromColor,
		$toColor
	); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image: -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image: -o-linear-gradient(
		top,
		$fromColor,
		$toColor
	); /* Opera 11.10+ */
	background-image: linear-gradient(top, $fromColor, $toColor);
}

// Transition
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

// Box Sizing
@mixin box-sizing($string) {
	-webkit-box-sizing: $string;
	-moz-box-sizing: $string;
	box-sizing: $string;
}

// Box Shadow
@mixin box-shadow($off-y, $off-x, $blur, $color) {
	-moz-box-shadow: $off-y $off-x $blur $color; /* FF3.5+ */
	-webkit-box-shadow: $off-y $off-x $blur $color; /* Saf3.0+, Chrome */
	box-shadow: $off-y $off-x $blur $color; /* Opera 10.5, IE9 */
}

@mixin box-shadow-inset($top, $left, $blur, $color, $inset: "") {
	-webkit-box-shadow: $top $left $blur $color $inset;
	-moz-box-shadow: $top $left $blur $color $inset;
	box-shadow: $top $left $blur $color $inset;
}

// Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius-all-val($radius1, $radius2, $radius3, $radius4) {
	-webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
	-moz-border-radius: $radius1 $radius2 $radius3 $radius4;
	border-radius: $radius1 $radius2 $radius3 $radius4;
}

@mixin transform($args) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-o-transform: $args;
	-ms-transform: $args;
	transform: $args;
}

// Opacity
@mixin opacity($opacity) {
	opacity: $opacity / 100;
	filter: alpha(opacity=$opacity);
}
