.navbar .navbar-nav{
    padding-left: 20px;
}


footer .konten .konten-1 h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}
footer .konten .konten-1 i {
    color: white;
    font-size: 17px;
    background-color: black;
    padding: 10px 12px;
    border-radius: 50px;
}

footer .konten .konten-1 i:hover {
    transition: 0.3s;
}

footer .konten .konten-1 .whatsapp:hover {
    background-color: #25d366	;
}
footer .konten .konten-1 .youtube:hover {
    background-color: #ff0000		;
}
footer .konten .konten-1 .instagram:hover {
    background-color: white	;
    color: #c32aa3;
}
footer .konten .konten-1 .twitter:hover {
    background-color: #1da1f2	;
}
footer .konten .konten-1 .facebook:hover {
    background-color: #3b5998	;
}

footer .konten .konten-2 a {
    color: white;
    text-decoration: none;
}

footer .konten .konten-1 .menu a {
    display: flex;
    background-color: transparent;
    text-decoration: none;
}

footer .konten .konten-1 .menu a {
    color: white;
    text-decoration: none;
}

footer .konten .konten-1 .menu a:hover {
    text-decoration: underline;
}

.siswa-index{
    min-height: 100px;
}

.hidden-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.offcanvas-bottom {
    margin: 60px 120px !important;
    width: 80% !important;
    height: 80% !important;
}

